<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        .input {
            background-color: var(--input-background);
            border-color: var(--input-border);
            color: var(--input-text);
        }

        .input::placeholder, .input:focus::placeholder, .input:disabled::placeholder, .input:read-only::placeholder {
            color: var(--input-placeholder);
        }

        .input, .select select, .textarea {
            background-color: var(--input-background);
            border-color: var(--input-border);
            color: var(--input-placeholder);
            border-radius: 50px;
        }

        .button {
            border-radius: 50px;
            background-color: var(--button-background);
            color: var(--input-placeholder);    
        }
        .data-list {
            margin-top: 20px;
        }
        .data-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 2px dashed #fff;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .data-item button {
            margin-left: 10px;
        }

        .data-item-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        .data-text {
            flex: 1;
            min-width: 200px;
        }

        .data-buttons {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        @media (max-width: 768px) {
            .data-item-content {
                flex-direction: column;
                align-items: flex-start;
            }
            .data-buttons {
                width: 100%;
                justify-content: center;
            }
        }

    </style>
</head>
<body>
    <section class="hero">
        <div class="hero-body">
            <div class="column is-full mb-5">
                <div class="column is-full">
                    <div class="column is-12">
                        <h1 class="title has-text-centered has-text-grey-lighter">Agregar</h1>
                        <form id="data-form" action="/purchase" method="POST">
                            <div class="field">
                                <label class="label has-text-centered has-text-grey-lighter">Tipo</label>
                                <div class="control is-rounded has-text-centered">
                                    <div class="select">
                                        <select id="type" onchange="toggleFields()">
                                            <option value="account">Cuenta</option>
                                            <option value="profile">Perfil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered has-text-grey-lighter">Servicio</label>
                                <div class="control">
                                    <input id="service" class="input is-rounded has-text-centered" type="text" placeholder="Servicio">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered has-text-grey-lighter">Precio</label>
                                <div class="control">
                                    <input id="price" class="input is-rounded has-text-centered" type="number" placeholder="Precio">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered has-text-grey-lighter">Email</label>
                                <div class="control">
                                    <input id="email" class="input is-rounded has-text-centered" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered has-text-grey-lighter">Contraseña</label>
                                <div class="control">
                                    <input id="password" class="input is-rounded has-text-centered" type="password" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="field" id="name-field" style="display: none;">
                                <label class="label has-text-centered has-text-grey-lighter">Nombre</label>
                                <div class="control">
                                    <input id="name" class="input is-rounded has-text-centered" type="text" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="field" id="pin-field" style="display: none;">
                                <label class="label has-text-centered has-text-grey-lighter">PIN</label>
                                <div class="control">
                                    <input id="pin" class="input is-rounded has-text-centered" type="text" placeholder="PIN">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered has-text-grey-lighter">Días de Expiración</label>
                                <div class="control">
                                    <input id="expiry_days" class="input is-rounded has-text-centered" type="number" value="30">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-text-centered">
                                    <button type="submit" class="button is-info is-outlined is-responsive">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-full is-pulled-right">
                <h1 class="title has-text-centered has-text-grey-lighter">Servicios disponibles</h1>
                <div id="data-container">
                    <!-- Los datos se mostrarán aquí -->
                </div>
            </div>
        </div>
    </section>
    <script>
        function toggleFields() {
            const type = document.getElementById('type').value;
            const nameField = document.getElementById('name-field');
            const pinField = document.getElementById('pin-field');
            if (type === 'profile') {
                nameField.style.display = 'block';
                pinField.style.display = 'block';
            } else {
                nameField.style.display = 'none';
                pinField.style.display = 'none';
            }
        }

        document.getElementById('data-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const type = document.getElementById('type').value;
            const service = document.getElementById('service').value;
            const price = document.getElementById('price').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const name = document.getElementById('name').value;
            const pin = document.getElementById('pin').value;
            const expiry_days = document.getElementById('expiry_days').value;

            const response = await fetch('/purchase', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ type, service, price, email, password, name, pin, expiry_days })
            });

            if (response.ok) {
                loadData();
            }
        });

        async function loadData() {
            const response = await fetch('/purchase');
            const data = await response.json();
            const dataContainer = document.getElementById('data-container');
            dataContainer.innerHTML = '';
            data.forEach(item => {
                const dataItem = document.createElement('div');
                dataItem.className = 'data-item';
                dataItem.innerHTML = `
                    <div class="data-item-content">
                        <span class="data-text">${item.service} (${item.type}): ${item.details.account.email}</span>
                        <div class="data-buttons">
                            <button class="button is-small is-info" onclick="editData('${item.purchase_id}')">Editar</button>
                            <button class="button is-small is-danger" onclick="deleteData('${item.purchase_id}')">Eliminar</button>
                        </div>
                    </div>
                `;
                dataContainer.appendChild(dataItem);
            });
        }

        async function editData(id) {
            const service = prompt('Nuevo servicio:');
            const email = prompt('Nuevo email:');
            const password = prompt('Nueva contraseña:');
            const name = prompt('Nuevo nombre:');
            const pin = prompt('Nuevo PIN:');
            const expiry_days = prompt('Nuevos días de expiración:');
            if (service && email && password && name && pin && expiry_days) {
                await fetch(`/purchase/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ service, email, password, name, pin, expiry_days })
                });
                loadData();
            }
        }

        async function deleteData(id) {
            await fetch(`/purchase/${id}`, {
                method: 'DELETE'
            });
            loadData();
        }

        loadData();
    </script>
</body>
</html>