:root {
    --background-color: #1e1e1e;
    --text-color: #ffffff; 
    --border-color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Source Code Pro', monospace; 
    background-color: #333;
    color: #fff;
}

.container {
    width: 300px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pas {
    border: 3px dashed #fff;
    border-radius: 10px;
}