:root {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    --input-background: #2c2c2c;
    --input-border: #444;
    --input-text: #fff;
    --input-placeholder: #aaa;
    --button-background: #007bff;
    --button-text: #fff;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Source Code Pro', monospace; 
    background-color: #333;
    color: #fff;
}

.container {
    width: 300px;
    height: 400px;
    border: 3px dashed #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-login {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    color: var(--text-color);
    border-radius: 10px;
}